@canvas-width: 300px;

@c_glyphlink: #337AB7;

@c_a: #337AB7;
@c_a_hover: default;

body {

}

.stage a {
  color: @c_a;
  text-decoration: none;
}

.stage a  .glyphicon {
  color: @c_glyphlink;
}

a:hover {
  color: @c_a_hover;
  text-decoration: none;
}

a.removeMode span {
  color: red !important;
}

a.editBlock span {
  color: blue;
}

.super {
  font-size: .75em;
  vertical-align: super;
}

h3 .super {
  font-size: .5em;
}

label:after {
  content: ":";
}
.clearfix {
  clear: both;
}
.mainmenu {
  font-size: 1.5em;
  padding: 10px;
  background: #eee;
}

.header {
  width: @canvas-width;
  padding: 10px;


  .menu {
    float: left;
  }

  .toolbar {
    float: right;

    a {
      margin-left: 10px;
    }
  }

}

.statusbar {
  clear: both;
  width: @canvas-width;
  background: #333;
  color: #fff;
  font-size: 1em;
  margin: 17px 0px 0px 10px;
  padding: 5px 10px;
  border: 1px solid #333;

  a {
    color: orange;
  }
}

.stage {
  position: relative;
}

.body {
  padding: 10px;
  width: @canvas-width;

  .block, .block-revision, .test {
    border: 2px solid #333;
    margin: 3px 0px;
    padding: 10px;

    min-height: 120px;

    &.active {
      background: #E7F1FE;

      a.editBlock { display: none; }
    }

    &.inactive {
      display: none;
    }

    h3 {
      margin: 0px 0px 10px 0px;
    }

    .blockBody {
      min-height: 90px;

    }

    .testBody {

      h5 span.right {
        display: inline-block;
        float: right;

        margin: -3px 10px 0px 0px;
        padding: 5px;

        background: #000;
        color: #fff;

        font-size: 12px;
        //font-weight: 400;

        a {
          color: orange;
        }
      }

      .details {
        margin-top: 10px;

        .documentation > a, .documentation > span  {
          display: inline-block;
          vertical-align: top;
          margin-left: 25px;

          &:first-child {
            margin-left: 0px;
          }
        }

        .params {
          position: relative;

          .param {

            width: 32%;

            float: left;

            border: 1px solid #eee;

            padding: 3px;
            margin: 1px;

            strong {
              font-weight: 500;
            }

            .controls {
              float: right;
              margin-top: 5px;
            }
          }
        }
      }
    }

    .blockFooter {
      height: 20px;
      .left { float: left; }
      .right {
        float: right;
        font-size: 1.25em;
      }
    }
  }

}

.canvas .tags {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.canvas.tests > *, .canvas.testEdit > * {
  width: @canvas-width + (@canvas-width );
}

.canvas.tests > div.statusbar, {
  width: (@canvas-width * 2) + 40; // accounting for the padding
}
.canvas.testEdit > div.statusbar {

  width: (@canvas-width * 2) - 20; // accounting for the padding
}
.canvas.testEdit form > fieldset {
  width: @canvas-width - 20;
  float: left;
  margin-left: 10px;
}

.testEdit {

  textarea {
    height: 100px;
  }

  #comments {
    width: 60%;
  }

  .branch-select {
    margin: 10px 0px;


  }

  #comments {
  }
}

  .canvas {
    float: left;
  }

  // angularjs support
  form.submitted input.ng-invalid, form.ng-dirty input.ng-invalid {
    border: 2px solid indianred;
  }

  form.submitted select.ng-invalid, form.ng-dirty select.ng-invalid {
    border: 2px solid indianred;
  }

