    <div class="statusbar">
    <span class="glyphicon glyphicon-triangle-right"></span>
    Editing: <strong ng-if="newRevision">New </strong>Device Revision
</div>
<form id="deviceRevisionForm" name="deviceRevisionForm" class="form body" ng-class="{submitted:trySubmit}" novalidate>
    <div class="col1">
        <div class="form-group form-inline">
            <label for="revision">Revision</label>
            <div ng-if="newRevision" class="revisionTypeSelect">
                <input type="radio" name="revisionType" ng-change="changeRevision('M')"
                       value="M" ng-model="editDeviceRevision.revisionType" id="revisionType_M" /> Major
                <input type="radio" name="revisionType" ng-change="changeRevision('i')"
                       value="i" ng-model="editDeviceRevision.revisionType" id="revisionType_i" /> Minor
            </div>
            <input type="text" class="form-control" disabled
                   id="revision" value="{{revision}}" />
        </div>
        <div class="form-group">
            <label for="parentDeviceId">Parent Device Id (Read-Only)</label>
            <input type="text" class="form-control" id="parentDeviceId"
                   ng-model="editDeviceRevision.device_id" disabled placeholder="System Generated"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description"
                      ng-model="editDeviceRevision.description" placeholder="Optional"></textarea>
        </div>
        <div class="form-group">
            <label for="block">Blocks</label>
            <select id="block" ng-options="b.name for b in blocks track by b.id" ng-change="loadBlockRevisionsList()"
                    ng-model="selectedBlock">
            </select>

            <select ng-if="selectedBlock" ng-options='block_revision as fullRevision(block_revision) for block_revision in block_revisions_list track by block_revision.id' ng-model="$parent.selectedBlockRevision">
            </select>
            <button class="btn btn-xs btn-success"
                    ng-if="selectedBlockRevision" type="button"
                    ng-click="blockRevisionAdd()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="form-group">
            <label >Block Revisions</label>
            <div data-ng-repeat="item in editDeviceRevision.block_revisions">
                <button class="btn btn-xs btn-danger" ng-click="blockRevisionRemove(item)" >
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <span>{{item.name}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="createdOn">Created On</label>
            <input type="text" disabled class="form-control" id="createdOn"
                      value="{{editDeviceRevision.created_on | date: 'medium'}}"/>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-default"
                    ng-click="cancelEdit()">Cancel</button>
            <button class="btn btn-primary"
                    ng-click="validate() && deviceRevisionForm.$valid && submitDeviceRevision(editDeviceRevision)">Submit</button>
        </div>

    </div>
    <div class="col2">
        <div class="form-group plist" ng-if="device_params_list">
            <div class="plist-heading">Default Device Parameters</div>

            <div class="plist-body" ng-repeat="param in device_params_list">
                <div ng-if="param.default">
                    <span class="placeholder">
                        <strong>{{param.placeholder}}</strong>
                    </span>
                    <input  type="text" class="form-control device-param" 
                            id="param_{{$index}}" value="{{param.value}}"
                            ng-model="param.value"/>
                    
                    <div class="references" data-ng-repeat="ref in param.references">
                        <div ng-if="$index==0">As seen in:</div>   
                        <span class="name">{{ref.name}}</span>
                        <span class="usage">{{ref.usage}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group plist custom-params">
            <div class="plist-heading">Custom Device Parameters</div>
            <div class="field-heading">
                <div class="add-heading">
                    <button class="btn btn-xs btn-success" type="button" ng-click="paramAdd()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="name-heading">Name</div>
                <div class="value-heading">Value</div>
            </div>
            <div class="plist-body" ng-repeat="param in editDeviceRevision.device_params">
                <button class="btn btn-xs btn-danger" ng-if="!param.default" ng-click="paramRemove(editDeviceRevision.device_params,param)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <input type="text" class="form-control name" required ng-model="param.name" ng-change="checkMultiples(editDeviceRevision.device_params)"/>
                <input type="text" class="form-control value "  ng-model="param.value"/>
            </div>
        </div>     -->
    </div> 
</form>
