<div class="canvas testEdit">
    <div class="statusbar">
        <span class="glyphicon glyphicon-triangle-right"></span>
        Editing: <strong ng-if="newTest">New Test</strong><strong ng-if="!newTest">{{editTest.title}}</strong> (Revision {{editTest.revision}})
    </div>
    <form name="testForm" class="form body" ng-class="{submitted:trySubmit}" novalidate>
        <fieldset>
            <legend>General Information</legend>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" required class="form-control" id="title" ng-model="editTest.title"/>
            </div>
            <div class="form-group">
                <label for="testId">Id</label>
                <input type="text" class="form-control" disabled id="testId" ng-model="editTest.id"/>
            </div>
            <div class="form-group">
                <label for="component">Component</label>
                <input type="text" class="form-control" id="component" ng-model="editTest.component"/>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" tags id="tags" ng-model="editTest.tags"/>
            </div>
            <div class="form-group plist">
                <div class="plist-heading">Parameters</div>
                <div class="field-heading">
                    <button class="btn btn-xs btn-success" type="button" ng-click="paramAdd()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div class="name-heading">Name</div>
                    <div class="value-heading">Value</div>
                </div>

                <div class="plist-body" data-ng-repeat="param in editTest.test_params">
                    <button class="btn btn-xs btn-danger" ng-click="paramRemove(editTest.test_params,param)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <input type="text" class="form-control name" required ng-model="param.name"/>
                    <input type="text" class="form-control value "  ng-model="param.value"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Test Details</legend>
            <div class="form-group">
                <label for="instructions">Instructions</label>
                <textarea class="form-control" id="instructions"
                          ng-model="editTest.instructions"></textarea>
            </div>
            <div class="form-group">
                <label for="testScript">Test Script</label>
                <input type="text" class="form-control" id="testScript" ng-model="editTest.test_script"/>
            </div>
            <div class="form-group">
                <label for="testConfig">Test Config</label>
                <input type="text" class="form-control" id="testConfig" ng-model="editTest.test_config_link"/>
            </div>
            <div class="form-group">
                <label for="measPlan">Measurement Plan</label>
                <input type="text" class="form-control" id="measPlan" ng-model="editTest.meas_plan"/>
            </div>
            <div class="form-group">
                <label for="spotfireTemplate">Spotfire Template</label>
                <input type="text" class="form-control" id="spotfireTemplate" ng-model="editTest.spotfire_template"/>
            </div>

        </fieldset>
        <div class="text-right branch-select" ng-if="!newBranchAdd">
            Select the branch to save this test revision to:
            <div class="btn-group" dropdown>
                <button type="button" class="btn  btn-default" ng-click="editBranch(editTest.branch)" ng-disabled="editTest.branch == 'default'">{{editTest.branch}}</button>
                <button type="button" class="btn  btn-default dropdown-toggle" dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split Button</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="toggleBranchAdd()">New Branch...</a></li>
                    <li ng-repeat="b in branches">
                        <a href="" ng-click="selectBranch(b)">{{b}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-right branch-add form-group form-inline clearfix" ng-if="newBranchAdd">
            <input type="text" placeholder="New Branch Name..." class="form-control" id="newBranchName" ng-model="branchObj.newBranch"/>
            <button type="button" class="btn btn-default" ng-click="cancelEditBranch()">Clear</button>
        </div>
        <div class="form-group form-inline text-right controls">
            <div class="form-group text-left">

                <label for="comments">Revision Comments</label>
                <input ng-if="testForm.$dirty" type="text" class="form-control input" id="comments" placeholder="What did you change?"
                    ng-model="newComment"/>
                <span ng-if="!testForm.$dirty">{{editTest.comment}}</span>
            </div>
            <button class="btn btn-default"
                    ng-click="cancelEdit()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-disabled="!testForm.$dirty"
                    ng-click="validate() && testForm.$valid && submitTest(editTest)">Submit</button>
        </div>
    </form>
</div>
