<div class="statusbar">
    <span class="glyphicon glyphicon-triangle-right"></span>
    Editing: Device
</div>
<form name="deviceForm" class="form body" ng-class="{submitted:trySubmit}" novalidate>

    <div class="form-group">
        <label for="deviceName">Name</label>
        <input type="text" class="form-control" required id="deviceName" ng-model="editDevice.name" placeholder="Required"/>
    </div>
    <div class="form-group">
        <label for="deviceId">Device Id (Read-Only)</label>
        <input type="text" class="form-control" id="deviceId"
               ng-model="editDevice.id" disabled placeholder="System Generated"/>
    </div>
    <div class="form-group">
        <label for="owner">Owner</label>
        <select class="form-control" id="owner" required ng-model="editDevice.owner"
                ng-options="user.username as user.fullName for user in users">
            <option ng-selected="selected" value="">Please Select...</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" ng-model="editDevice.description" placeholder="Optional"></textarea>
    </div>
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" placeholder="Optional/Not Implemented" value="" disabled/>
    </div>
    <div class="form-group text-right">
        <button class="btn btn-default" ng-click="goto('/devices')">Cancel</button>
        <button class="btn btn-primary" type="submit" ng-click="validate() && deviceForm.$valid && submitDevice(editDevice)">Submit</button>
    </div>
</form>