<div class="header">
    <div class="menu">
        <a href="#"><span class="glyphicon glyphicon-menu-hamburger"/></a>
    </div>
</div>
<form name="blockRevisionForm" class="form body" ng-class="{submitted:trySubmit}" novalidate>
    <h4>Editing: Block Revision</h4>
    <div class="form-group form-inline">
        <label for="revision">Revision</label>
        <div ng-if="newRevision">
            <input ng-if="newRevision" type="radio" name="revsionType"
                   ng-value="M" ng-model="revisionType"/> Major
            <input ng-if="newRevision" type="radio" name="revisionType"
                   ng-value="i" ng-model="revisionType"/> Minor
        </div>
        <input type="text" class="form-control" disabled
               id="revision" value="{{revision}}" />
    </div>
    <div class="form-group">
        <label for="parentBlockId">Parent Block Id (Read-Only)</label>
        <input type="text" class="form-control" id="parentBlockId"
               ng-model="editBlockRevision.block_id" disabled placeholder="System Generated"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"
                  ng-model="editBlockRevision.description" placeholder="Optional"></textarea>
    </div>
    <div class="form-group">
        <label for="createdOn">Created On</label>
        <input type="text" disabled class="form-control" id="createdOn"
                  value="{{editBlockRevision.created_on | date: 'medium'}}"/>
    </div>
    <div class="form-group text-right">
        <button class="btn btn-default"
                ng-click="cancelEdit()">Cancel</button>
        <button class="btn btn-primary" type="submit"
                ng-click="validate() && blockForm.$valid && submitBlock(editBlock)">Submit</button>
    </div>
</form>