<!-- #TODO Convert this to be list of test revisions with branch selection -->
<div class="tests canvas">
    <div class="header">

        <div class="toolbar">
            Branch:
            <select ng-model="currentBranch" ng-change="selectBranch()">
                <option ng-repeat="branch in branches">{{branch}}</option>
            </select>
        </div>
    </div>
    <div class="statusbar">
        <span class="glyphicon glyphicon-triangle-right"></span>
        <span>History for Test <strong><a href="#/tests/{{type}}/{{currentTest.rev_id}}">{{currentTest.id}}</a></strong></span>
    </div>
    <div class="body">
        <alert ng-if="alert" type="{{alert.type}}" close="cancelAlert()">
            <p>{{alert.msg}}</p>
            <button type="button" class="btn btn-sm btn-default" ng-click="cancelAlert()">Cancel</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="remove(alert.data)">Remove</button>
        </alert>
        <div class="test"
             ng-class="{active: test.id == activeTest, inactive: (activeTest) && test.id != activeTest}"
             ng-repeat="test in tests">

            <div class="testBody">
                <h5>{{test.title}}
                    <a class="super editTest"
                       ng-if="! isCurrent(test.id, test.revision, test.branch)" href="" ng-click="makeCurrent(test)">
                        Use This Revision
                    </a>
                    <span class="right" ng-if="test.revision">Revision: {{test.revision}}/{{test.branch}}</span>
                </h5>
                <div class="summary">
                    {{test.instructions||"no instructions set."}}
                </div>
                <div class="tags">
                    Tags: {{ formatTags(test.tags) }}
                </div>
                <div class="details" ng-if="showDetails(test.id, test.revision, test.branch)">
                    <h6>Documentation</h6>
                    <div class="documentation small">
                        <span ng-if="test.test_script">Script<br/><span class="small">{{test.test_script}}</span></span>
                        <span>Test Config<br/><a class="nw" href="{{test.test_config_link}}" ng-if="test.test_config_link" target="_new"><span class="small">{{test.test_config_link | ellipsis:24:true }}</span></a></span>
                        <a class="nw" href="{{test.meas_plan}}" ng-if="test.meas_plan" target="_new">Measurement Plan</a>
                        <a class="nw" href="{{test.spotfire_template}}" ng-if="test.spotfire_template" target="_new">Spotfire Template</a>
                    </div>
                    <h6>Paramaters</h6>
                    <div class="params">
                        <div class="param" ng-repeat="param in test.test_params">
                            <div class="small">{{param.name}}</div>
                            <strong>{{param.value}}</strong>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="blockFooter text-center">
               <a href="" ng-click="tglDetails(test.id, test.revision, test.branch)" ng-if="!showDetails(test.id, test.revision, test.branch)">Show Details</a>
               <a href="" ng-click="tglDetails(test.id, test.revision, test.branch)" ng-if="showDetails(test.id, test.revision, test.branch)">Hide Details</a>
            </div>
        </div>
    </div>
</div>

