<!DOCTYPE html>

<html lang="en" ng-app="vprApp">

<head>
    <title>Validation Reusability System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [data-ng-cloak] {
            display: none !important;
        }
    </style>
    <script type="text/ng-template" id="foo.template">
        @@include('./partials/foo.html')
    </script>
    <script type="text/ng-template" id="home.template">
        @@include('./partials/home.html')
    </script>
    <script type="text/ng-template" id="deviceList.template">
        @@include('./partials/deviceList.html')
    </script>
    <script type="text/ng-template" id="blockList.template">
        @@include('./partials/blockList.html')
    </script>
    <script type="text/ng-template" id="editDevice.template">
        @@include('./partials/editDevice.html')
    </script>
    <script type="text/ng-template" id="editBlock.template">
        @@include('./partials/editBlock.html')
    </script>
    <script type="text/ng-template" id="editDeviceRevision.template">
        @@include('./partials/editDeviceRevision.html')
    </script>    
    <script type="text/ng-template" id="editBlockRevision.template">
        @@include('./partials/editBlockRevision.html')
    </script>
    <script type="text/ng-template" id="testList.template">
        @@include('./partials/testList.html')
    </script>
    <script type="text/ng-template" id="editTest.template">
        @@include('./partials/editTest.html')
    </script>
    <script type="text/ng-template" id="testHistory.template">
        @@include('./partials/testHistory.html')
    </script>
    <link rel="stylesheet" href="stylesheets/vendor.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/all.css" type="text/css" media="screen" />
</head>
<body data-ng-cloak>

<div class="mainmenu">
    <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a> VPRS: The Validation Plan Reusability System
</div>
<div class="stage" ng-view >
</div>
<!--
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
-->
<script type="text/javascript" charset="utf-8" src="javascripts/vendor.js"></script>
<script type="text/javascript" charset="utf-8" src="javascripts/all.js"></script>
</body>
</html>